* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0;
}

#root {
  background-color: #f7f8f9;
  height: 812px;
  width: 375px;
  overflow-x: hidden;
}

#root {
  border-radius: 16px;
}

@media (width < 376px) {
  #root {
    border-radius: 0;
  }
}

